In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re

In [2]:
df_train = pd.read_csv('../resources/train.csv')
df_test = pd.read_csv('../resources/test.csv')
combine = pd.concat([df_train, df_test], sort=False)

Create nominal feature of soil types in combine

In [3]:
soilFeatures = combine.columns[combine.columns.str.contains(r'^Soil')]

In [4]:
soilDict = {}
for i in range(1, 41): #Create dict for new feature
    soilDict[soilFeatures[i-1]] = i

In [6]:
df_soil = combine[soilFeatures]

In [7]:
#Test for deencoding soil type
testRow = [0, 0, 0, 0, 1, 0, 0, 0]
pd.Index(list(testRow)).get_loc(1) + 1

5

Test of iterrows

In [11]:
scratch = pd.DataFrame({'col1': [1, 2, 3],
                       'col2': [2, 3, 4],
                       'col3': [3, 4, 5]})

In [30]:
for i in scratch.iterrows(): #Print value of second column in scratch, index i[1] captures the series object, index i[1][1] captures the value
    print(i[1][1])

2
3
4

In [32]:
for i in scratch.iterrows(): #Print location of the value 3 in each row of scratch, get_loc(3) + 1 for the value not the index
    print(pd.Index(i[1]).get_loc(3) + 1)

3
2
1

I'm too impatient to encode the combined dataframe, will try later

In [33]:
soilList = []
for row in df_soil.iterrows():
    soilList.append(pd.Index(row[1]).get_loc(1) + 1) #Add 1 to index of the encoding for each row, to get the soil type

KeyboardInterrupt:

Encode only the training data

In [34]:
df_train_soil = df_train[soilFeatures]

In [35]:
soilList = []
for row in df_train_soil.iterrows():
    soilList.append(pd.Index(row[1]).get_loc(1) + 1) #Add 1 to index of the encoding for each row, to get the soil type

Validating result

In [40]:
soilList[110:115]

[29, 16, 12, 12, 18]

In [41]:
df_train_soil.iloc[110:115, 11:30]

,Soil_Type12,Soil_Type13,Soil_Type14,Soil_Type15,Soil_Type16,Soil_Type17,Soil_Type18,Soil_Type19,Soil_Type20,Soil_Type21,Soil_Type22,Soil_Type23,Soil_Type24,Soil_Type25,Soil_Type26,Soil_Type27,Soil_Type28,Soil_Type29,Soil_Type30
110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
111,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
112,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
113,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
114,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
df_soil_codes = pd.concat([df_train['Id'], pd.Series(soilList)], axis=1)
df_soil_codes.rename({0: 'Soil_Types'}, axis=1, inplace=True)
df_soil_codes[110:115]

      Id  Soil_Types
110  111          29
111  112          16
112  113          12
113  114          12
114  115          18

Verify df_soil_codes

In [54]:
df_train[['Id', 'Soil_Type16', 'Soil_Type29']][110:112]

      Id  Soil_Type16  Soil_Type29
110  111            0            1
111  112            1            0

In [55]:
df_soil_codes.shape

(15120, 2)

In [57]:
df_soil_codes.to_csv('../resources/trainSoilCodes.csv', index=False)

Messing around with regex for as the start to an idea for how to reencode soil type

In [19]:
a = re.search(r'(\d*)$', soilFeatures[20])
a[0]

'21'